language: node_js
node_js: node
services:
- mongodb
deploy:
  provider: heroku
  api_key:
    secure: OFj6pn6gs7oG225uzCg0Z90L8t8qgQrudt5BibQHKIOEWzl69UmO3QwMemz4JP2+q78B7gIkm0BQoiz+njwt6HJ4xFyyiZlQSxbG4NLqtddb3M3MEyCFiCNyHo5pKF/gX5dqkbMjOhzCvgO9xFWTOSnTnDmkjisjlW1JIuL6d82wNDh9vAnP9UCwZWuzVLFf5vAZypOyxGqu8GaBPo+1y0pTE+tlS2ryM5Tb+LheVE62C4TPlF9AJCIgIuoB+w/8Pqwe2a46/85o6k+pc46PzpSJLYiMaPoUvk3Ow92wROM5L8272f9xzkPeMIzk8csdhEevjhTaSEtSoScU11RpDPNyOSNXRnbHEEe+MqAD+/fviSz6sNPwgvOjwqwzcR9VGL2kYz6l8zl8W2uB8bKWHawNhV0xPg6O4K9HzuB4wTPT2/lYzdhmVk+2hwg9Zr5fTYMkdZ18X7ZxBmolz7bPjlID8Sln2xH5yiztK0r2zeyj11YYlHNkip46+g0GNaEwmQ5ea1QxmIsR7pdexKZIYWtkhutb8j7i0Y0RzDWbxEO8JoKoJZJVtjRAO8JjFDRR2voViEgu4EzFqTLJh9UpFn8FJIoV2SsNd3eF4204yJWsY6DcL6IL19oqZjNYDV+/jZ9wLEYXdXXqEzaXsyP/1lVYiMGDvkCOAq78MA95eaI=
  app: gentle-basin-38129
  on:
    repo: krothenbaum/react-capstone
